<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667591941573-3ug8kqrbk9a8278gftudam3ubv79h31e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667591941573-3ug8kqrbk9a8278gftudam3ubv79h31e</string>
	<key>API_KEY</key>
	<string>AIzaSyDpQ3LQ_kqKM8AwhDSWuXX0QhFUjVvEGbk</string>
	<key>GCM_SENDER_ID</key>
	<string>667591941573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byrongomezjr.ChatAI</string>
	<key>PROJECT_ID</key>
	<string>chatai-bg93</string>
	<key>STORAGE_BUCKET</key>
	<string>chatai-bg93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667591941573:ios:bb9434d4e3561cd4877fac</string>
</dict>
</plist>